html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ddd;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}